.welcome-label {
  color: white !important;
}

.login-background {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../../site/pic/slider/main/slide-2.jpg) !important;
}

.login-label {
  font-size: 3rem !important;
}

.form-control-feedback {
  color: #e74c3c !important;
}

.top-menu-arrow-down {
  font-size:12px !important;
}

.top-menu-arrow-down:hover {
  color: #34495e !important;
}

code {
  background: #dfe6e9 !important;
  color: #34495e !important;
}

div.box{
  max-height: 400px !important;
  overflow: scroll !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.m-header{
  /* background-color: #f1f2f6 !important; */
  background: #43516F !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
   -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
}

@media (min-width: 767px) {
  .modal-size-60 {
    width:60% !important; max-width: 60% !important;
  }
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-dropdown--open>.m-nav__link .m-topbar__username, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-nav__link-icon--active>.m-nav__link .m-topbar__username, .m-topbar .m-topbar__nav.m-nav>.m-nav__item:hover>.m-nav__link .m-topbar__username {
  color: white !important;
}